.error{
    font-size: 11px;
    color: red;
}

.not-valid{
    box-shadow: 0 0 0 0.1rem rgba(228, 14, 14, 0.85) !important;
    background: rgba(255, 3, 3, 0.06) !important;
}

.formGroup{
    position:relative;
}

