.report_detail_container{
    padding: 5px 50px;
}

.table_container{
    /* width: 85%; */
    width: 80%;
    /* margin-top: 55px; */
    margin-top: 45px;
}


.user_details {
    width: 25%;
}
  
.user_details p:first-child {
    color: #52de97;
    font-size: 0.9rem;
    margin: 4px;
}
  
.user_details p.amount {
    color: #394a6d;
    font-size: 2rem;
    font-weight: 700;
}
  
.amount {
    font-size: 1.5rem;
}